body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #0b0202;
}

.container {
    /* background-color: #fff; */
    /* background: linear-gradient(to right, rgb(139, 84, 84), rgb(23, 23, 18), rgb(42, 42, 95)); */

    /* background-color: #eaeef1; */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
}

h1 {
    font-size: 23px;
    margin: 0 -19px;
    width: 200px;
    font-family: Georgia;
    background: linear-gradient(95deg, red, orange, yellow, green, blue, rgb(61, 213, 66), rgb(209, 9, 209));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;



}

input {
    width: 80%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #c6cae9;
    border-radius: 4px;
}

button {
    padding: 10px 10px;
    /* background-color: #2f7714; */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-family: Times
}

button:hover {
    background-color: #aa3d2c;
}

p {
    font-size: 18px;
    margin-top: 20px;
    color: #333;
}

@media (max-width: 576px) {

    h1 {
        font-size: 23px;
        margin: 0 0 0 -17px;
        width: 200px;
        font-family: Georgia;
        text-align: center;
    }
}